.b-issues-list-sorting {

}
.b-issues-list {
  border-top: 1px solid #1abc9c;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
  padding: 20px;
}

.b-issues {
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
}

.b-issues__title {
  font-size: 18px;
  color: #1abc9c;
  line-height: 1.5em;
}

.b-btn-new-issues {
  height: 40px;
}

.b-issues__actions {
  margin-top: 10px;
  background: #f1f1f1;
  padding: 10px 15px 6px 15px;
}

.b-issues__actions .fa {
  color: #000;
  font-size: 20px;
}

.b-issues__actions .fa:hover {
  color: #1abc9c;
  cursor: pointer;
}
